@import "tailwindcss";
@tailwind utilities;
@plugin "@tailwindcss/typography";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-color-400: #fcb3b3;
}

@theme {
  --color-theme-50:  #fff5f5;
  --color-theme-100: #ffe0e0;
  --color-theme-200: #ffc7c7;
  --color-theme-300: #fda9a9;
  --color-theme-400: #fcb3b3; /* Màu chính bạn đưa ra */
  --color-theme-500: #f88585;
  --color-theme-600: #f05c5c;
  --color-theme-700: #e04646;
  --color-theme-800: #b93535;
  --color-theme-900: #8a2828;
}
@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
  width: 6px; /* độ rộng của scrollbar */
  height: 6px; /* độ cao của scrollbar (nếu cần) */
}

::-webkit-scrollbar-track {
  background: #d1d1d1; /* màu nền (xám nhạt) */
}

::-webkit-scrollbar-thumb {
  background: #000; /* màu thanh kéo (đen) */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333; /* màu khi hover */
}